name: On PR

on:
  pull_request:

jobs:

  on-pull-request:
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/get-rocks-modified-and-build-scan-test-publish.yaml@main
    permissions:
      pull-requests: read
    secrets: inherit
    with:
      microk8s-channel: 1.32-strict/stable
      juju-channel: 3.6/stable
      python-version: "3.8"
